{%- set external_urls = {
  'github': 'https://github.com/StateOfTheArt-quant/libfinance',
  'github_issues': 'https://github.com/StateOfTheArt-quant/libfinance/issues',
  'contributing': 'https://github.com/StateOfTheArt-quant/libfinance/blob/main/README.md',
  'docs': 'https://libfinance.readthedocs.io/zh/latest/',
  'docs_zh': 'https://libfinance.readthedocs.io/zh/latest/',
  'docs_en': 'https://libfinance.readthedocs.io/en/latest/',
  'home': 'https://libfinance.readthedocs.io/zh/latest/',
}
-%}
