{%- set external_urls = {
  'github': 'https://github.com/StateOfTheArt-quant/libfinance',
  'github_issues': 'https://github.com/pytorch/ignite/issues',
  'contributing': 'https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md',
  'docs': 'https://pytorch.org/ignite/index.html',

  'home': 'https://pytorch-ignite.ai',

  'concepts': 'concepts',
  'introduction': 'introduction',
  'examples': 'examples',
  'faq': 'how-to-guides/',
  'about_us': 'about'
}
-%}